<%layout('template.ejs')-%>
<div class="home--title d-none d-md-block">
    <h1 class="carousel-caption  display-1 ">Welcome to Vacation spot</h1>
    <!-- <h1 class="display-1 home--text">Welcome to Vacation spot</h1> -->
<img class="w-100 img-fluid " src="/assets/home.jpg" alt="home_img">
</div>
<div class="home--title2 d-md-none">
    <h1 class="carousel-caption display-1 mb-5">Welcome to Vacation spot</h1>
    <!-- <h1 class="display-1 home--text">Welcome to Vacation spot</h1> -->
<img class="w-100" style="height: 100vh;" src="/assets/home2.jpg" alt="home_img">
</div>
